[data-anime] {
  opacity: 0 !important;
  transition: all 0.3s !important;
}

[data-anime="left"] {
  transform: translateX(-5rem) !important;
}

[data-anime="right"] {
  transform: translateX(5rem) !important;
}

[data-anime="up"] {
  transform: translateY(5rem) !important;
}

[data-anime].animate {
  opacity: 1 !important;
  transform: translate(0) !important;
}
