a:focus,
button:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  outline: 0 !important;
}

p {
  font-size: $font-size-lg;
}

strong {
  font-weight: 900;
}

.line-height {
  &-1 {
    line-height: 1.1;
  }

  &-2 {
    line-height: 1.2;
  }
}

.font-weight-bolder {
  font-weight: 900 !important;
}

.font-size-smaller {
  font-size: 12px;
}

.font-size-small {
  font-size: $font-size-sm;
}

.font-size-sm {
  font-size: $font-size-base;
}

.fz-28 {
  font-size: 1.75rem;
}

.vg-main {
  overflow: hidden;
}

.bg-linear {
  background-image: linear-gradient(-33deg, #00cae6 0%, #0dffcf 100%);
}

.minwidth-300 {
  min-width: 300px;
}
