.btn {
  padding: 0.9375rem 1.875rem;
  font-weight: bolder;
  line-height: 1;
  font-size: 1.25rem;

  &.-sm {
    padding: 0.6875rem 1.875rem;
    font-size: 0.875rem;
  }

  &.-smaller {
    font-size: 0.75rem;
  }

  &.-py-40 {
    padding-left: 40px;
    padding-right: 40px;
  }

  &.-normal {
    font-size: 1rem;
  }

  &-weight-normal {
    font-weight: normal;
  }
}
