.cform {
  & input,
  & textarea,
  & .form-control,
  & .custom-file {
    margin-bottom: 12px !important;
  }

  & .form-control {
    font-size: 13px;
    color: $secondary;
    border: none;
    background-color: #ecf1f8;

    &::placeholder {
      font-size: 13px;
      color: $secondary;
    }
  }
}

.custom-file {
  position: relative;
  background-color: #ecf1f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;

  & .fupload {
    display: none;
  }
}

#Fselect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("/assets/images/down.png") no-repeat #ecf1f8;
  background-position: 95% center;
  width: 100%;
  height: 30px;
}
