.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.modal-content {
  width: 100%;
  border-radius: 0;

  background: linear-gradient(to right, #01f39b, #00bcff);
  & .container {
  }

  & .row {
    width: 100%;
  }
}
