.modal {
  &-top {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;

    & > .modal-content {
      width: 100%;
      border-radius: 0;
      background: linear-gradient(to right, #01f39b, #00bcff);

      & .row {
        width: 100%;
      }
    }
  }

  &-licitacao {
    & .modal-content {
      overflow: hidden;
      border-radius: 25px;
      border: 0;
    }
    & .link-planos {
      text-decoration: underline;
    }

    & img {
      width: 100%;
      max-width: 253px;
    }

    & h3 {
      line-height: 1.2;
    }
  }
}

.dropdown {
  &-login {
    box-shadow: 2px 2px 35px rgba(58, 58, 108, 0.13);

    & > input {
      &::placeholder {
        color: $secondary;
        font-weight: bolder;
      }
    }

    & a {
      text-decoration: underline;
    }
  }
  &-filter {
    width: 210px;
    box-shadow: 2px 2px 35px rgba(58, 58, 108, 0.13);
    border: 0;
    margin-top: 20px;
  }
  &-scrollable {
    height: auto;
    max-height: 800px;
    overflow-x: hidden;
  }

  &-nav-sol {
    width: 100vw;
    max-width: 500px;
    padding: 0;
    box-shadow: 2px 25px 35px rgba(58, 58, 108, 0.6);

    & col-6 {
      padding: 0;
    }

    & .card-img {
      width: 100%;
      display: block;
      background-blend-mode: multiply;
    }

    & .side-right {
      background-color: #bfbfbf;

      & .card-img-overlay {
        background: linear-gradient(
          to top,
          rgba(0, 187, 255, 0.9) 10%,
          transparent 40%
        );
        width: 100%;

        & img {
          width: 100%;
        }
      }
    }
  }
}
