.player {
  position: relative;

  & .video {
    border-radius: 20px;
    height: 100%;
    text-align: center;

    > img {
      width: 100%;
    }
  }

  & .btn {
    transition: all 0.5s ease;
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &:hover {
    & .btn {
      opacity: 1;

      &:hover {
        background-color: rgba(#fff, 0.9);
        color: $egg-blue !important;
        border-color: $egg-blue;
      }
    }
  }
}
