.linkedin {
  width: 22px;
  height: 22px;
  background: url("/assets/images/social.png") 0 0 / cover no-repeat;
}
.facebook {
  width: 22px;
  height: 22px;
  background: url("/assets/images/social.png") 0 22px / 22px no-repeat;
}
.instagram {
  width: 22px;
  height: 22px;
  background: url("/assets/images/social.png") 0 44px / 22px no-repeat;
}
