@import "../bootstrap/main.scss";

@import "./base";

@import "./container";
@import "./buttom";
@import "./card";
@import "./modal";
@import "./input";

@import "./section";
@import "./sliders";
@import "./shared";

@import "./animeScroll";
